 @import 'normalize';

// Colors

@import 'colors';

// Styles


body {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  line-height: 1.3;
  padding: .5em;
}

@media (min-width: 682px) {
  body {
    flex-flow: row wrap;
    justify-content: center;
  }
}

header {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

nav ul {
  list-style: none;
  line-height: 2;
}

nav a {
  text-decoration: none;
}

// Typography

@import 'type';

// Layout

section {
  padding: 1em;
  border: 2px solid black;
  margin: .25em;
}

footer {
  width: 100%;
}

@media (min-width: 378px) {


  header {
    padding: 1em;
  }

  h1 {
    font-size: 3em;
  }

  header h1 {
    line-height: 0.6;
  }

}
